* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --header-color: rgb(175, 13, 13);
    
}


body {
    background-color: rgb(218, 216, 216);
  }

  /*---- Header ---*/
.header {
    /* display: flex */
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(173, 173, 173);
    color: var(--header-color);
    margin-top: .35em;
    position: fixed;
    width: 100%;
    background-image: ;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.header nav ul{
    list-style-type: none;
    text-align: end;

}

.header nav ul li{
    display: inline-block;
    align-items: flex-end;
    margin-left: 25px;

}

.header nav ul li a{
    color: var(--header-color);
    text-decoration: none;
}


/*--- Profile Image ---*/

.profile-image img {
    object-fit: cover;
    background-position: inherit;
    background-size: cover;
    width: 85%;
    margin-top: .25em;
    margin-bottom: .25em;
    margin-left: 6em;
    margin-right: 6em;
    padding-top: 6em;
}

/*--- Main Section ---*/

.info {
    padding: 2em;
    border-style: ridge;
    border-color: var(--header-color);
    border-style: ridge;
    border-radius: 1em;
    margin: 2em;
}

.info h2 {
    font-size: 2em;
    color: var(--header-color);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

